<!-- <app-header></app-header> -->
<!-- We can define this as self closing tag too since no content there -->
<app-header />

<main>
  <ul id="users">
    <!-- To dynamically outputting the list of users -->
    @for(user of users; track user.id) {
      <li>
        <app-user [user]="user" (select)="onSelectUser($event)" />
      </li>
    }

    <!-- alternative and old standard way of doing same as @for using @ngFor - Structural Directive -->
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)"/>
    </li> -->

    <!-- No need of that now we can above dynamically displaying the users -->
    <!-- <li>
      <app-user [user] = "users[0]" (select)="onSelectUser($event)" />
    </li> -->
  </ul>

  <!-- To render conditional content using new control flow syntax offered by angular -->
  @if (selectedUser) {
    <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"></app-tasks>
  }
  <!-- Some fallback code if we have no user is selected -->
  @else {       
    <p id="fallback">Select a User to see their Tasks!</p>
  }


  <!-- same as *ngFor we have *ngIf for rendering conditional content-->

  <!-- <app-tasks *ngIf="selectedUser; else Fallback" [name]="selectedUser!.name"></app-tasks> -->
  <!-- for else condition it is more complex we have ng-template element which provided by angular -->
  <!-- <ng-template #Fallback>   
    <p id="fallback">Select a User to see their Tasks!</p>
  </ng-template> -->

  <!-- Now it is more verbose and also uses additional imports we will stick to the out @for and @if which is lot simpler and modern -->
</main>
